.topmenu {
  width: 100%;
  height: 8vh;
  background-color: brown;
}
.topmenu ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.topmenu ul li {
  padding: 18px;
}
.link-color {
  text-decoration: none;

  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link-color:hover {
  color: rgb(252, 248, 22);
  border-bottom: 4px solid brown;
}
